
/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*git_hub_Hello-world-entry*/

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/

html,body{
 
  background:     no-repeat center center fixed; 
     background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#003));
    background-image: -webkit-linear-gradient(top, #000, #003);
    background-image: -moz-linear-gradient(top, #000, end-color);
    background-image: linear-gradient(to bottom, #000, #003);
    background-image: linear-gradient(to bottom, #000, #003);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Cinzel', serif;
    color: antiquewhite; 
}

.container {
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  background-color: transparent;
}

/* Row */
.row {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }
  .col-1-2 {
    width: 50%;
}
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
}

@media only screen and (max-width : 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}


/***************************
****************************
Modules
****************************
***************************/
/*Header Modules*/

.text-top{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 5px 2px;
text-align: center;
background-color: transparent;
}

.header-primary {
text-align: center;
padding-top: 10px;
padding-bottom: 0px;
background-color: transparent;
margin: 10px 10px 0px 0px;
}

/*Logo Modules*/
.logo {
    overflow: auto;
    display: inline-block;
    color: white;
    opacity: 0.8;
    margin: 2px 2px;
    
}

.logo-primary img {
    height: 100%;
    width: 100%;
    margin-top: none;
    padding: none;

    
}

/*Navigation Modules*/

.nav > li {
  vertical-align: middle;
  list-style: none;
  text-decoration: none;
  text-align: left;
  float: left;
}

.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-primary {
margin-top: 5px;
font-size: 1.2em;
position: relative;
background-color: transparent;
}

.btn-head{
text-align: center;
font-size: 1.8em;
color: #daa530;
margin-top: 0.1em;
font-family: 'Cinzel', serif;
background-color: transparent;
text-decoration: none;
margin: 15px 5px;
display: block;

} 
/*Button Modules*/
.btn {
list-style: none;
display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
cursor: pointer;
text-decoration: none;
padding: 12px 10px;
font-size: 1.213em;
font-weight: bold;
border-radius: 4px;
transition: all 0.3s ease 0s;
margin: 10px 10px;
background-color: transparent;
}

.btn-call-now {
background: transparent;
border-color: #8DC63F;
color: silver;
border: transparent;
margin-right: 6%;
}

.btn-nav {
    color: silver;
    padding:10px, 10px;
    margin-bottom: 10px;
}

/************button hover****************/

.btn-head:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-nav:hover {
  background-color: aquamarine;
  color:black ;
  border-color: transparent;
}

.btn-call-now:hover {
  background-color: aquamarine;
  color:black;
  border-color: transparent;
}
/***** FONT AWESOME - NAV *****/

a.btn-call-now:before{ 
   font-family: FontAwesome;
   content: "\f098";
   display: inline-block;
   vertical-align: middle;
   color:#8DC63F;
   padding-right: 10px;
}
a.btn-map:before{ 
   font-family: FontAwesome;
   content: "\f041";
   display: inline-block;
   vertical-align: middle;
   color:red;
   padding-right: 10px;
}

a.btn-gallery:before{ 
   font-family: FontAwesome;
   content: "\f083";
   display: inline-block;
   vertical-align: middle;
   color: darkgoldenrod;
   padding-right: 10px;
}



/*Background Modules*/
.img-error{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin: 100px 100px;
}

.bg-img  {
   height: 500px;
   width: 100%;
   overflow: hidden;
   position: relative;
   border-style: solid;
   border-width: 0.2px;
   float: left;
   animation-name: bg-img;
   border-radius: 50%;
   background-repeat: round;
  
   animation: bg-img 20s infinite;
   -o-animation: bg-img 20s infinite;
   -webkit-animation: bg-img 20s infinite;
   animation: bg-img 20s infinite;
   margin: 20px 20px;
   padding: 0px;

}

@-webkit-keyframes bg-img {
   0% {opacity:1;} 0%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   10% {opacity:1;} 10%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   20% {opacity:1;} 20%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   30% {opacity:1;} 30%{background-image: url("https://www.facebook.com/gosfordjeweller/photos/a.1857129917898167.1073741829.1856380227973136/1874496909494801/?type=3&theater");}
   40% {opacity:1;} 40%{background-image: url("https://scontent.fsyd4-1.fna.fbcdn.net/v/t1.0-9/16649186_1874496909494801_2391325917768188728_n.jpg?oh=c809dd7adcf9d8e71360f5575c1d202b&oe=5944576C");}
   50% {opacity:1;} 50%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   60% {opacity:1;} 60%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   70% {opacity:1;} 70%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977414_1858602107750948_7672803409985659891_n.jpg?oh=9134552c00184ae3d183fa27532e994a&oe=591BF0A6");}
   80% {opacity:1;} 80%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   90% {opacity:1;} 90%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   100% {opacity:1;}100%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
}

@-moz-keyframes bg-img {
 0% {opacity:1;} 0%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   10% {opacity:1;} 10%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   20% {opacity:1;} 20%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   30% {opacity:1;} 30%{background-image: url("https://www.facebook.com/gosfordjeweller/photos/a.1857129917898167.1073741829.1856380227973136/1874496909494801/?type=3&theater");}
   40% {opacity:1;} 40%{background-image: url("https://scontent.fsyd4-1.fna.fbcdn.net/v/t1.0-9/16649186_1874496909494801_2391325917768188728_n.jpg?oh=c809dd7adcf9d8e71360f5575c1d202b&oe=5944576C");}
   50% {opacity:1;} 50%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   60% {opacity:1;} 60%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   70% {opacity:1;} 70%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977414_1858602107750948_7672803409985659891_n.jpg?oh=9134552c00184ae3d183fa27532e994a&oe=591BF0A6");}
   80% {opacity:1;} 80%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   90% {opacity:1;} 90%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   100% {opacity:1;}100%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   }

@-o-keyframes bg-img 
{
   0% {opacity:1;} 0%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   10% {opacity:1;} 10%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   20% {opacity:1;} 20%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   30% {opacity:1;} 30%{background-image: url("https://scontent.fsyd4-1.fna.fbcdn.net/v/t1.0-9/15977414_1858602107750948_7672803409985659891_n.jpg?oh=4d60aecbae6b9d3e037f72b36fa05f26&oe=59437DA6");}
   40% {opacity:1;} 40%{background-image: url("https://scontent.fsyd4-1.fna.fbcdn.net/v/t1.0-9/16649186_1874496909494801_2391325917768188728_n.jpg?oh=c809dd7adcf9d8e71360f5575c1d202b&oe=5944576C");}
   50% {opacity:1;} 50%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   60% {opacity:1;} 60%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   70% {opacity:1;} 70%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977414_1858602107750948_7672803409985659891_n.jpg?oh=9134552c00184ae3d183fa27532e994a&oe=591BF0A6");}
   80% {opacity:1;} 80%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   90% {opacity:1;} 90%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   100% {opacity:1;}100%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   }
@keyframes bg-img
{
    0% {opacity:1;} 0%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   10% {opacity:1;} 10%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   20% {opacity:1;} 20%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   30% {opacity:1;} 30%{background-image: url("https://www.facebook.com/gosfordjeweller/photos/a.1857129917898167.1073741829.1856380227973136/1874496909494801/?type=3&theater");}
   40% {opacity:1;} 40%{background-image: url("https://scontent.fsyd4-1.fna.fbcdn.net/v/t1.0-9/16649186_1874496909494801_2391325917768188728_n.jpg?oh=c809dd7adcf9d8e71360f5575c1d202b&oe=5944576C");}
   50% {opacity:1;} 50%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   60% {opacity:1;} 60%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   70% {opacity:1;} 70%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977414_1858602107750948_7672803409985659891_n.jpg?oh=9134552c00184ae3d183fa27532e994a&oe=591BF0A6");}
   80% {opacity:1;} 80%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826349_1856386524639173_2677045794754472763_n.jpg?oh=a5e295e895b433bba01b464420bbe129&oe=59051057");}
   90% {opacity:1;} 90%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15826484_1856386611305831_4509009472846063428_n.jpg?oh=6d9383e3650997a1355bb65e939e0755&oe=5919F4B4");}
   100% {opacity:1;}100%{background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15977693_1858601077751051_7583068715322142736_n.jpg?oh=b3294eceebe94f0892d6a6988e1888c0&oe=59475919");}
   }
     

.bg-img > img {
   /*position: absolute;*/
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
}

/***************|||||||||||||||||||||||||||||||||||||||
*******************************************************
hero-title
*******************************************************
//////////////////////////////////////////////////////*/
hero-title{
  margin: 10px 3px;
  padding: none;
  }

/*Media Object Module*/
.media, .media-body {
overflow:hidden;
font-weight: bold;
color: silver;
}
.medi-item{
float:left;
margin-right: none;
}
.media-item i {
color: white;
font-size: 5em;
padding: 25px;
display: inline-block;
opacity: 0.1;
margin-top: 10px;
}

/*******FOOTER*********/
footer{
background-color: #daa530;
opacity: 0.8;
color: #000;
font-weight: bold;
}

/******************
@@@@@@@@@@@@@@@@@@@@@

MEDIA (for big screens)

the rest should be mobile first

@@@@@@@@@@@@@@@@@@@@
********************
@media @media @media.
.media.media.media
.media.media.media
.media.media.media
@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@
BUTTONS
BUTTONS
@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 580px){
  .btn-head{
     font-size: 40px;
     display: block;
     margin: 2px;
     padding: none;
  }
}

@media (min-width: 48em) {
  .btn {
  font-size: 20px;
    /*padding: ;*/
  stroke: 1px #ffffff;
  border-radius: auto;
  display: inline-block;
  margin-right: 0px;
  /*width: 100%;*/
  position: relative;
  }
}

/*@media (min-width: 48em) {
  .btn-call-now {
  position: absolute;
  }
}*/
/*\\\\\\\\\\\\\\\\\\\\\\\
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
NAV > list > ul
@@@@@@@@@@@@@@@@@@@@@@@@@@@@
/////////////////////////*/

@media (min-width: 480px) {
.nav > li {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin: auto;
  display: inline;
  }
}

@media (min-width: 480px){
.nav-primary {
    text-align: center;
    display: inline;
 }
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
center image "bg-img"
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 600.1px) {
  .bg-img{
    margin-top: 30px;
    height: 500px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50%;
    background-repeat: round;
}
 }

@media only screen and (max-width:600px) {
  .bg-img{
    margin-top: 30px;
    height: 500px;
    width: 100%;
    float: left;
    margin-left: none;
    border-radius: 50%;
    background-repeat: round;
    
}
  }

@media only screen and (max-width:480px) {
  .bg-img{
    margin-top: 30px;
    height: 300px;
    width: 100%;
    float: left;
    margin-left: none;
    border-radius: 50%;
    background-repeat: round;
    
}
  }
 

 





/***************************
****************************
Theme Styles
****************************
***************************/


